#body {
    background-color: rgb(211,211,211);
    padding: 20px;
}

#name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(31, 38, 133);
}

#profilePicture {
   width: 200px;
   height: auto;
   margin-bottom: 8px;
}

.card {
    width: 18rem;
}

.cardImg {
    height: 40%
}

#courses {
    flex-direction: row;
}